.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.board-grid {
  display: grid;
  grid-template-columns: repeat(3, 100px); /* creates three columns, each 100px wide */
  /* grid-template-rows: repeat(3, 100px); creates three rows, each 100px tall */
  justify-content: center; /* centers the grid horizontally */
  align-content: center; /* centers the grid vertically */
  grid-gap: 0; /* ensures there is no gap between the grid items */
}

.field {
  width: 100px; /* sets the width of the field to 100px */
  height: 100px; /* sets the height of the field to 100px */
  display: flex; /* optional: for aligning inner content */
  align-items: center; /* optional: centers the content vertically */
  justify-content: center; /* optional: centers the content horizontally */
  text-align: center;  /* centers the text horizontally */
  caret-color: transparent;
  cursor: alias;
}

